body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(31, 31, 31);
    background-image: url(img/alain.png);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.game-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(31, 31, 31);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    color: rgb(190, 192, 177);
}

p {
    font-size: 16px;
    color: rgb(190, 192, 177);
}

#tree {
    width: 200px;
    cursor: pointer;
}

.palme {
    position: absolute;
    transition: opacity 1s; /* La durée du fondu est d'une seconde. */
}

.palme:hover {
    opacity: 0;
}

.palme {
    position: absolute;
    width: 50px; /* Largeur de la palme */
    height: 50px; /* Hauteur de la palme */
    animation: descend 1s linear;
    transition: opacity 1s; /* La durée du fondu est d'une seconde. */
}

@keyframes descend {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(50px); /* Ajustez la valeur pour contrôler la descente. */
        opacity: 0;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: rgb(24, 24, 24);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

button#close-modal {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

footer {
    background-color: rgb(24, 24, 24);
    padding: 20px;
    color: #fff;
    text-align: center;
    margin-top: auto;
}

#scientist {
  margin-top: 20px;
}

#scientist-count {
  margin-top: -10px;
  font-size: 50px;
  color: #fff;
}